.links {
  text-decoration: none;
}
html {
  background: url('../img/bookcase.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 600px) {
  nav {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  nav {
    justify-content: flex-end;
  }
}
nav a {
  text-decoration: none;
  color: #3C414D;
  padding: 20px;
  width: 100%;
  border: 1px solid black;
}
nav a:hover {
  cursor: pointer;
}
@media (min-width: 600px) {
  nav a {
    border: none;
  }
}
@media (min-width: 1000px) {
  nav a {
    width: 20%;
  }
}
@media (max-width: 500px) {
  nav a:nth-child(2) {
    display: none;
  }
}
.main {
  margin: 0 auto;
  width: 98%;
}
.books-img {
  width: 100%;
}
@media (min-width: 1000px) {
  .books-img {
    height: 300px;
  }
}
.features {
  display: flex;
  justify-content: space-evenly;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
