.links {
  text-decoration: none;
}
nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 800px) {
  nav {
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  nav {
    justify-content: flex-end;
  }
}
nav a {
  text-decoration: none;
  color: #3C414D;
  padding: 20px;
  width: 100%;
  border: 1px solid black;
}
nav a:hover {
  cursor: pointer;
}
@media (min-width: 800px) {
  nav a {
    border: none;
  }
}
@media (min-width: 1000px) {
  nav a {
    width: 20%;
  }
}
nav a:first-child {
  border-bottom: none;
}
.main {
  margin: 0 auto;
  width: 98%;
}
.books-img {
  width: 100%;
}
@media (min-width: 1000px) {
  .books-img {
    height: 300px;
  }
}
.features {
  display: flex;
  justify-content: space-evenly;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
