nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media @tablet {
        flex-direction: row;
    }

    @media @desktop {
        justify-content: flex-end;
    }

    a {
        .links();
        color: @site-color;
        padding: 20px;
        width: 100%;
        border: 1px solid black;
       
        &:hover{
            cursor: pointer;
        }

        @media @tablet {
            border: none;
        }

        @media @desktop {
            width: 20%;
        }

    }
    a:first-child {
        border-bottom: none;
    }
}

.main {
    margin: 0 auto;
    width: 98%;
   
}

.books-img {
    width: 100%;

    @media @desktop {
        height: 300px;
    }
}

.features{
    display: flex;
    justify-content: space-evenly;
}