nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    a {
        .links();
        color: @site-color;
        padding: 20px;
        width: 100%;
        border: 1px solid black;

        &:hover{
            cursor: pointer;
        }
    }
    a:first-child {
        border-bottom: none;
    }
}

.main {
    margin: 0 auto;
    width: 98%;
   
}

.books-img {
    width: 100%;
}

.features{
    display: flex;
    justify-content: space-evenly;
}